* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    height: 100px;
    width: 100%;
  }
  
  .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #182236;
  }
  
  .logo {
    margin-left: 40px;
  }
  
  .logo img {
    width: 150px;
    height: 50%;
    margin-right: 250px;
  }
  
  .navbar {
    width: 60%;
    height: 80%;

  }
  
  .navbar a {
    padding-right: 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .navbar a:hover {
    text-decoration: none;
    color: red;
    font-weight: bold;
  }
  
  .contactbtn {
    margin-right: 60px;
  }
  
  .contactbtn a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: center;
  }
  
  .contactbtn button {
    width: 100px;
    height: 30px;
    align-items: center;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 8px;
  }
  
  /* Media Queries */
  
  @media (max-width: 768px) {
    .header {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
    }
  
    .logo {
      margin-left: 20px;
      margin-bottom: 10px;
    }
  
    .logo img {
      width: 120px;
      height: 40px;
      margin-right: 0;
    }
  
    .navbar {
      width: 100%;
      padding: 0;
    }
  
    .navbar a {
      padding: 1px 0;
      font-size: 10px;
    }
  
    .contactbtn {
      margin-right: 5px;
    }
  
    .contactbtn button {
      width: 60px;
      height: 15px;
      font-size: 10px;
    }
  }
  